#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-display{
  grid-column: 1;
}

.cv-display{
  width: 30vw;
  height: 90vh;
  background-color: aliceblue;
  grid-column: 2;
  grid-row: 1 / span 3;
}

.section-info {
  width: 35vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  background-color: red;
  padding: 5%;
  border-radius: 16px;
  max-height: 10vh; 
  overflow: hidden; 
  transition: max-height 0.3s ease, background-color 0.2s ease-in-out;
}

.section-info:hover{
  background-color: darkslategray;
}


.section-info.expanded {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none; 
}

.component-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: auto;
  grid-column: span 2;
}

.hidden > input,
.hidden > label,
.hidden > fieldset,
.hidden > textarea,
.hidden > .add-experience-button,
.hidden > .add-establishment-button,
.hidden > .preview-container
{
  display: none;
}

.expand-button{
  background-color: transparent;
  border: none;
  font-weight: bolder;
}

.form-preview{
  grid-column: span 2;
  width: 80%;
}

.preview-container{
  grid-column: span 2 !important;
  display: flex;
  flex-direction: column; 
}

.preview-container > h2{
  display: flex;
  justify-content: flex-start;
  
}

.preview-line {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100% !important;
    height: auto;
    overflow-wrap: break-word; /* Ensures text wraps correctly */
    word-wrap: break-word;     /* Breaks long words */
}




.edit-button{
background-color: transparent;
transition: background-color 0.2s ease-in;
height: auto;
width: auto;
padding: 2px;
}

.edit-button:hover{
background-color: red;
}

.fieldset{
border-radius: 8px;
display: flex;
flex-direction: column;
}

.fieldset>textarea{
  height: 150px;
}

.add-experience-button{
  grid-column: span 2;
}


/*--------------------CV-------------------------*/

.cv-display{
  width: 210mm;
  height: 297mm;
  background-color: aliceblue;
  grid-column: 2;
  grid-row: 1 / span 3;
}


.header{
  margin-top: 0;
  height: auto;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  width: 100%;
  display: flex;
  margin-left: 5%;
  padding: 0;
}

.name{
  margin-top: 0;
}

.bio{
  margin-top: 0;
  max-width: 90%;
  height: auto;
  word-wrap: break-word;
}

.contact-info{
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  width: 100%;
  font-size: small;
  font-weight: bolder;
}

.experience{
  color: black;
}